@use '@/styles/mixins' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  align-items: stretch;

  @include respond(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include respond(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(sm) {
    grid-template-columns: 1fr;
  }
}