$color-white: #ffffff;
$color-dark: #191a20;
$color-gray-dark: #232323;
$color-gray-light: #CCCCCC;
$color-orange: #ff8310;

$radius-md: 8px;

$spacing-sm: 10px;
$spacing-md: 16px;
$spacing-lg: 25px;
$spacing-xl: 40px;

$font-base: 'Poppins', sans-serif;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;