$color-white: #ffffff;
$color-dark: #191a20;
$color-gray-dark: #232323;
$color-gray-medium: #393939;
$color-gray-light: #CCCCCC;
$color-orange: #ff8310;

$radius-sm: 4px;
$radius-md: 8px;

$spacing-sm: 10px;
$spacing-md: 16px;
$spacing-lg: 25px;
$spacing-xl: 49px;

$font-base: 'Poppins', sans-serif;