@use '@/styles/variables' as *;

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, .6);
  z-index: 100;
}

.drawer {
  position: absolute;
  right: 0;
  top: 0;
  width: 679px;
  height: 100%;
  background: $color-gray-dark;
  display: flex;
  flex-direction: column;
  padding: 29.5px;

  .header {
    display: flex;
    align-items: center;
    padding: 0 40px;
    gap: 40px;

    .title {
      font-weight: 500;
      font-size: $font-size-xl;
      color: $color-white;
    }

    .closeButton {
      background-color: #373737;
      border: none;
      border-radius: 50%;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 2px solid $color-orange;
        outline-offset: 4px;
      }
    }
  }

  .items {
    .empty {
      font-size: $font-size-md;
      color: $color-gray-light;
      text-align: center;
      margin: $spacing-xl 0;
    }
  }

  .checkout {
    width: 100%;
    margin-top: auto;
    padding: 22px;
    border-radius: $radius-md;
    border: none;
    background-color: $color-orange;
    color: $color-white;
    font-family: $font-base;
    font-weight: 700;
    font-size: $font-size-md;
    cursor: pointer;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}