@use '@/styles/variables' as *;

.header {
    width: 100%;
    padding: 33.5px 41px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF36;

    .cart {
        display: flex;
        gap: 9px;
        font-weight: 400;
        font-size: 20px;
        color: $color-white;
        align-items: center;
    }
}