@use '@/styles/variables' as *;

.header {
    width: 100%;
    padding: 33.5px 41px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #FFFFFF36;

    .cart {
        display: flex;
        align-items: center;
        gap: 9px;

        background: none;
        border: none;
        padding: 0;
        margin: 0;

        color: $color-white;
        font-weight: 400;
        font-size: $font-size-lg;

        cursor: pointer;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: 2px solid $color-orange;
            outline-offset: 4px;
        }
    }
}