@use '@/styles/variables' as *;

.container {
    width: 100%;
    height: 10px;
    background-color: #393939;
    border-radius: $radius-md;
    overflow: hidden;
}

.bar {
    height: 100%;
    background-color: $color-orange;
    transition: width 0.3s ease;
}